body {
  background-image: url(images/weather-backgroud.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,
h3 {
  text-align: left;
}
h3 {
  position: relative;
  top: 14px;
}

.container {
  text-align: center;
  color: #282f36;
}
.hr {
  color: #ffffff;
  opacity: 1;
}
.card {
  margin: 16px;
  padding: 20px;
  box-shadow: 0 30px 50px rgb(116 141 166 / 56%);
}
.units {
  font-size: 1.3rem;
  position: relative;
  top: -39px;
}
.main-temp {
  font-size: 4.1rem;
}
.main-emoji {
  font-size: 6.1rem;
  position: relative;
  top: -26px;
}
.current {
  font-size: 1.4rem;
}
#city {
  font-weight: 700;
}
#celsius {
  text-decoration: none;
  color: #ffffff;
}
#celsius:hover {
  text-decoration: underline;
}
#farengeit {
  text-decoration: none;
  color: #ffffff;
}
#farengeit:hover {
  text-decoration: underline;
}
#btn-seach:hover {
  color: #ffffff;
}
#maincard {
  background-color: rgb(222, 212, 115, 0.8);
  border-radius: 18px;
  border: 1px solid #ffffff;
  margin-top: 40px;
}
#forecastcard {
  background-color: rgb(108, 117, 125, 0.8);
  border-radius: 18px;
  border: 1px solid #ffffff;
  margin-top: 40px;
}
#forecastone {
  background-color: rgb(222, 212, 115, 0.8);
  border-radius: 18px;
  border: 1px solid #ffffff;
}
#forecasttwo {
  background-color: rgb(116, 141, 166, 0.8);
  border-radius: 18px;
  border: 1px solid #ffffff;
}
#forecastthree {
  background-color: rgb(200, 232, 237, 0.5);
  border-radius: 18px;
  border: 1px solid #ffffff;
}
#forecastfour {
  background-color: rgb(209, 209, 209, 0.8);
  border-radius: 18px;
  border: 1px solid #ffffff;
}
#forecastfive {
  background-color: rgb(247, 253, 177, 0.8);
  border-radius: 18px;
  border: 1px solid #ffffff;
}
#source {
  font-size: bold;
  text-decoration: none;
  text-align: left;
  color: #ffffff;
}
